# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# random stuff
bin/
.vagrant
.DS_Store
third-party/gtest-*
third-party/gmock-*
gtest-*.zip
gmock-*.zip
coverage/
lcov-report.info
generated/
scripts/venv
*.pyc
*.egg-info

build/
scripts/build/
scripts/dist/
sysadmin-rs/target
# http://doc.crates.io/guide.html#cargotoml-vs-cargolock
sysadmin-rs/Cargo.lock
